body { background-color: #FCEBB6;  
       color: #221811;
       font-family: Tahoma, Arial, sans-serif;
}

h1 { background-color: #D2B48C; 
    color: #8C3826; 
    line-height: 200%;
    text-align: center;
 }

 h2 { color: #8C3826
}

nav {text-align: center;
     font-weight: bold;
}

footer { background-color: #D2B48C;
         font-size: small;
         font-family: italics;
         text-align: center;
}

#wrapper { width: 80%;
           background-color: #FEFAEB;
           margin-right: auto;
           margin-left: auto;
}